<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large" id="title">Porcus</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <div id="container1">
    <ion-label>Username: </ion-label>
      <input type="text" id="username" name="username" required>
        <ion-icon name="person-outline" class="start-icon" style="--ionicon-stroke-width: 50px"></ion-icon>
    <ion-label>Password: </ion-label>
      <input type="password" id="password" name="password"  required>
        <ion-icon name="lock-closed-outline" class="start-icon" style="--ionicon-stroke-width: 50px"></ion-icon>

    <button id="login_button" routerLink="/tabs">LOGIN</button><br>
    
    <ion-checkbox label-placement="end">Remember me</ion-checkbox>
  </div>
  <p>Doesn't have an account yet? <button  routerLink="/sign-up" id="redirect_signUp">Sign up</button></p>
</ion-content>
